* {
    overflow-y: hidden;
    overflow-x: hidden;
}


.loaderdiv {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.loader {
    border: 16px solid #dfdfdf; /* Light grey */
    border-top: 16px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }